body {
  font-family: cursive, sans-serif;
  padding: 50px;
}

form {
  width: 75%;
  position: relative;
  button {
    position: absolute;
    right: 0;
  }
}

input {
  padding: 10px;
  width: calc(100% - 25px);
}

button {
  border: unset;
  padding: 10px 50px;
  background: #24c7bf;
  color: white;
  font-size: medium;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.m-0 {
  margin: 0;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.w-50 {
  width: 50%;
}

.p-lr {
  padding: 0 50px;
}

main {
  display: flex;
}

.recent-scores-header {
  display: flex;
  justify-content: space-between;
}

.d-block {
  display: block;
}

#recent-scores ul {
  list-style: none;
  border: 1px solid black;
  padding: 0;
  border-radius: 5px;

  li {
    padding: 10px 15px;
  }

  li:nth-child(even) {
    background-color: #f2f2f2;
  }
}

// Loading spinner
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #24c7bf;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: 768px) {
  main {
    display: block;
    > div {
      width: 100% !important;
    }
  }

  .p-lr {
    padding: 0;
  }
}
